/*Hide RAW Angular data elements while browser is loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;   
}

h1, h2, h3, h4, h5 {
    font-family: 'Droid Serif', serif;
}

p {
    font-family: 'Droid Serif', serif;
}

.error {
    font-size: 0.7em;
    color: red;
}

/*Fieldset Styles*/
.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }


