/*Hide RAW Angular data elements while browser is loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;   
}

h1, h2, h3, h4 {
    font-family: 'Droid Serif', serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Droid Serif', serif;
}

.error {
    font-size: 0.7em;
    color: red;
}

/*Fieldset Styles*/

fieldset.standard {
  border-style: solid;
  border-width: 1px; 

}

legend {
  color: #3F51B5; 

}

legend code {
  color: #3F51B5;
  font-weight: normal; 

}

/*Tab Styles*/

md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }

md-tabs md-tabs-wrapper {
      background: white; }
