<div layout-gt-sm="row" layout="column" layout-align="center center" flex>
    <div flex-gt-sm="40" layout-align="center center" flex>
        <md-content>
            <md-tabs md-dynamic-height layout-align="center center">
                <md-tab label="Battle">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">The Battle</h3>
                        <p></p>
                    </md-content>
                </md-tab>
                <md-tab label="Winning Conditions">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">Winning Conditions</h3>

                    </md-content>
                </md-tab>
                <md-tab label="Mysterious Objectives">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">Mysterious Objectives</h3>
                        <md-list flex>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(1) Sabotaged:</h3>
                                    <p>Roll D6 at the end of every turn. On 1, all units within 3" take D6 S4AP- hits.</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(2) Nothing of Note:</h3>
                                    <p>No effect.</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(3) Skyfire Nexus:</h3>
                                    <p>Unit in control of this Objective Marker can choose to Skyfire.</p>
                                    <p>Skyfire: Unit can fire at full Balistic Skill at any Flyers, Flying Monstrous Creatures &amp; Skimmers but can only fire Snap Shots at other units.</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(4) Targeting Relay:</h3>
                                    <p>Unit in control of Objective Marker re-rolls shooting hits of 1.</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(5) Scatterfield:</h3>
                                    <p>Unit in control of Objective Marker has +1 cover save.</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-2-line" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>(6) Grav Wave Generator:</h3>
                                    <p>-2 to enemy charge ranges.</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        </div>
    </div>