<md-content>
    <div layout="column" layout-align="center center" layout-padding flex>
        <h1>Welcome to the Grimdark Objective Tracker</h1>

        <p>Warhammer 40,000 (informally known as Warhammer 40K, WH40K or simply 40K) is a tabletop miniature wargame produced by <a href="https://www.games-workshop.com/">Games Workshop</a>, set in a dystopian science fantasy universe.</p>
        
        <h3 ng-hide="currentUser">Please Register or Login to Continue.</h3>
        <div layout="row">
            <md-button ng-hide="currentUser" ng-href="#/login" class="md-raised md-accent">Login</md-button>
            <md-button ng-hide="currentUser" ng-href="#/register" class="md-raised md-accent">Register</md-button>
            <md-button ng-show="currentUser" ng-href="#/decks" class="md-raised md-accent">Continue Game</md-button>
            <md-button ng-show="currentUser" ng-href="#/adddeck" class="md-raised md-accent">New Game</md-button>
        </div>        
    </div>
</md-content>