<div layout="column" layout-align="center center" layout-padding flex>
    <h2 class="md-primary">Dice Master Collection Tracker Login</h2>
    <p>Please Login to access your collection</p>
</div>
<div layout="column" class="md-inline-form" flex layout-align="center center">
    <md-content layout-padding>
        <form name="loginform" ng-submit="login()" novalidate>
            <md-dialogue-content>
                <div layout="column" layout-padding layout-align="center">
                    <div layout-gt-sm="column">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <md-icon md-svg-icon="email" class="md-primary"></md-icon>
                            <input type="email" name="email" ng-model="user.email" ng-required="true">
                            <div ng-messages="loginform.email.$error">
                                <div ng-message="required">Email required to Login.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </md-dialogue-content>
            <md-dialogue-content>
                <div layout="column" layout-padding layout-align="center">
                    <div layout-gt-sm="column">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <md-icon md-svg-icon="key" class="md-primary"></md-icon>
                            <input type="password" name="password" ng-model="user.password" ng-required="true">
                            <div ng-messages="loginform.password.$error">
                                <div ng-message="required">Password required to Login.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </md-dialogue-content>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-accent" ng-disabled="loginform.$invalid">Login</md-button>
                <p>
                    or <md-button class="md-raised md-primary" ng-href="#/register">register</md-button>
                </p>
            </md-dialog-actions>
        </form>
    </md-content>
</div>