<div ng-controller="RegistrationController">
    <md-toolbar class="navigation" md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleRight()" aria-label="Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button ng-href="#/" ng-click="close()" class="left" aria-label="Home">Grimdark Tracker</md-button>
        </div>        
    </md-toolbar>
    <div flex></div>

    <div layout="column" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-whiteframe="4">

            <md-toolbar class="md-accent md-hue-3" ng-cloak>
                <md-button ng-if="currentUser" ng-href="#/profile" ng-click="close()">Hi {{ currentUser.dname }}</md-button>
            </md-toolbar>

            <md-content layout-padding layout="column">
                <md-button ng-if="currentUser.inprog" ng-href="#/savegame" ng-click="close()">Continue Battle</md-button>
                <md-button ng-if="currentUser" ng-href="#/newgame" ng-click="close()">New Battle</md-button>
                <md-button ng-if="!currentUser" ng-href="#/login" ng-click="close()">Login</md-button>
                <md-button ng-if="!currentUser" ng-href="#/register" ng-click="close()">Register</md-button>
                <md-button ng-if="currentUser.admin" ng-href="#/addnew" ng-click="close()">New Card</md-button>
                <md-button ng-if="currentUser.admin" ng-href="#/addnewd" ng-click="close()">New Deck</md-button>
                <md-button ng-if="currentUser.admin" ng-href="#/addnewbat" ng-click="close()">New Battle Type</md-button>
                <md-button ng-if="currentUser.admin" ng-href="#/adddefd" ng-click="close()">Add to Default Deck</md-button>
                <md-button ng-if="currentUser" ng-href="#/login" ng-click="logout()">Logout</md-button>
            </md-content>
        </md-sidenav>
    </div>
</div>

