<div ng-controller="BigGunsController" layout="column" layout-align="center center">
    <div ng-if="roundNum > 0 && !main.completed">
        <h4><b>Objectives in Play: </b>{{ main.objCount }}</h4>
    </div>
    <div ng-if="main.completed">
        <h4><b>Victory Points from Objectives: </b> {{ main.finalVicPoints }}</h4>
    </div>
    <div layout="row" layout-wrap layout-padding layout-align="center center" flex ng-hide="!main.gameStarted">
        <md-button class="md-raised md-primary md-hue-1" ng-click="unitDestroyed()" ng-if="!main.completed">
            <md-tooltip md-direction="top">Gain Kill Victory Point</md-tooltip>
            <md-icon md-svg-icon="skull"></md-icon>
            {{main.unitName}} Destroyed
            <md-icon md-svg-icon="skull"></md-icon>
        </md-button>
    </div>
    <!--Objective Quantity-->
    <div layout="row" class="md-inline-form" flex layout-align="center center" ng-show="!main.objExist">
        <form name="objectiveAmount" ng-submit="addObjectiveQty()" novalidate>
            <md-dialogue-content>
                <div layout="column" layout-padding layout-align="center center">
                    <h4>Enter in Objective Marker Amount</h4>
                    <md-button class="md-warn md-icon-button" ng-click="generateObjective()">
                        <md-tooltip md-direction="top">Generate Objectives</md-tooltip>
                        <md-icon md-svg-icon="droll"></md-icon>
                    </md-button>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Quantity of Objectives:</label>
                            <input type="number" name="objquantity" ng-model="missionObjQty" min="{{objMin}}" max="{{objMax}}" required>
                        </md-input-container>
                        <md-button type="submit" class="md-raised md-primary md-hue-3" aria-label="Save">
                            <md-tooltip md-direction="top">Save Objective Quantity</md-tooltip>
                            <md-icon md-svg-icon="save"></md-icon>
                        </md-button>
                    </div>
                </div>
            </md-dialogue-content>
        </form>
    </div>

    <!--Objective Control-->
    <div layout="row" class="md-inline-form" flex layout-align="center center" ng-show="main.completed">
        <form name="objectiveAmount" ng-submit="finalObjectiveQty()" novalidate>
            <md-dialogue-content>
                <div layout="column" layout-padding layout-align="center" ng-hide="main.victCount">
                    <h5>How many Objectives Do You Control?</h5>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex>
                            <label>Objectives Controlled:</label>
                            <input type="number" name="finalObjquantity" ng-model="finalObjQty" min="0" max="{{objMax}}" required>
                        </md-input-container>
                        <md-button type="submit" class="md-raised md-warn" aria-label="Save" ng-disable="main.victCount">
                            <md-tooltip md-direction="top">Submit Objective Amount</md-tooltip>
                            <md-icon md-svg-icon="save"></md-icon>Submit
                        </md-button>
                    </div>
                </div>
            </md-dialogue-content>
        </form>
    </div>
</div>
