<div ng-controller="PurgeAlienController" layout="column" layout-align="center center">
    <div layout="row" layout-wrap layout-padding layout-align="center center" flex ng-hide="!main.gameStarted">
        <md-button class="md-raised md-warn md-hue-3" ng-click="unitDestroyed()" ng-if="!main.completed">
            <md-tooltip md-direction="top">Gain Kill Point</md-tooltip>
            <md-icon md-svg-icon="skull"></md-icon>
            Unit Destroyed
            <md-icon md-svg-icon="skull"></md-icon>
        </md-button>
    </div>
</div>
