<div ng-controller="ScouringController" layout="column" layout-align="center center">
    <div ng-if="roundNum > 0 && !main.completed">
        <h4><b>Objectives in Play: </b>{{ main.objCount }}</h4>
    </div>
    <div ng-if="main.completed">
        <h4><b>Victory Points from Objectives: </b> {{ main.finalVicPoints }}</h4>
    </div>
    <div layout="row" layout-wrap layout-padding layout-align="center center" flex ng-hide="!main.gameStarted">
        <md-button class="md-raised md-warn md-hue-3" ng-click="unitDestroyed()" ng-if="!main.completed">
            <md-tooltip md-direction="top">Gain Kill Victory Point</md-tooltip>
            <md-icon md-svg-icon="skull"></md-icon>
            {{main.unitName}} Destroyed
            <md-icon md-svg-icon="skull"></md-icon>
        </md-button>
    </div>

    <div flex="80" flex-gt-sm="50" layout="column" ng-show="main.completed">
        <fieldset class="standard" ng-hide="main.victCount">
            <legend>Select Objective Values You Control </legend>
            <div layout="row" layout-wrap flex layout-align="center center">
                <div flex="50" ng-repeat="value in main.objValues">
                    <md-checkbox ng-checked="checked(value, main.objSelected)" ng-click="toggle(value, main.objSelected)">
                        Objective Value: {{ value.value }}
                    </md-checkbox>
                </div>
            </div>
            <md-button class="md-raised md-warn" ng-click="submitObj()">
                <md-tooltip md-direction="top">Save Objective Values</md-tooltip>
                <md-icon md-svg-icon="save"></md-icon>
                Submit
            </md-button>
        </fieldset>
    </div>

</div>
