    <div layout="row" layout-align="center center" flex>
        <h2>Add A Card To Your Collection</h2>
    </div>
<div layout="row" class="md-inline-form" flex layout-align="center center">
    <form name="addform" ng-submit="addCard()">
        <md-dialogue-content>
            <div layout="column" layout-padding layout-align="center">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Card Name</label>
                        <input type="text" name="cardname" ng-model="cardname" ng-required="true" />
                    </md-input-container>
                    <md-input-container ng-hide="isAction" class="md-block" flex-gt-sm>
                        <label>Card Version</label>
                        <input type="text" name="cardversion" ng-model="cardversion" ng-required="true" />
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Description</label>
                    <textarea rows="2" name="carddescription" ng-model="carddescription" ng-required="true"></textarea>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Cost to Buy Dice</label>
                        <md-select ng-model="cardcost">
                            <md-option ng-repeat="diceNum in diceMax" value="{{diceNum}}">{{diceNum}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Energy Type</label>
                        <md-select ng-model="cardenergy">
                            <md-option ng-repeat="type in energyOptions" value="{{type}}">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Affiliation</label>
                        <md-select ng-model="cardaffiliation">
                            <md-option value="DC">DC</md-option>
                            <md-option value="Marvel">Marvel</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <label>Card Type</label>
                        <md-select ng-model="cardtype">
                            <md-option value="Action">Action Card</md-option>
                            <md-option value="Hero / Villain">Hero / Villain</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container ng-hide="isAction" class="md-block" flex-gt-sm>
                        <label>Dice Quantity</label>
                        <md-select ng-model="dicequantity">
                            <md-option ng-repeat="diceQuan in diceQty" value="{{diceQuan}}">{{diceQuan}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Dice Colour</label>
                        <input type="text" name="cardcolour" ng-model="cardcolour" ng-required="true" />
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <label>Rarity</label>
                        <md-select ng-model="rarity">
                            <md-option value="Common">Common (Grey Stripe)</md-option>
                            <md-option value="Uncommon">Uncommon (Green Stripe)</md-option>
                            <md-option value="Rare">Rare (Yellow Stripe)</md-option>
                            <md-option value="Super Rare">Super Rare (Red Stripe)</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Card Series</label>
                        <input type="text" name="cardseries" ng-model="cardseries" ng-required="true" />
                    </md-input-container>
                </div>
            </div>
        </md-dialogue-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button href="#/collection">
                <md-icon md-svg-icon="back" class="icwhite"></md-icon>Collection
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="addform.$invalid">
                Add Card
            </md-button>
        </md-dialog-actions>
    </form>
</div>

    <!--   <input type="text" name="cardimage" placeholder="Upload an Image" ng-model="cardimage" /> -->
