<div layout="column" layout-align="center center" flex>
    <h2>Your Dice Masters Collection</h2>
<md-badge class="badgePrimary">Cards in Collection: {{ howManyCards }}</md-badge>
</div>
<md-content>
    <div layout="row" layout-wrap layout-padding flex>
        <div layout="column" layout-padding flex="50">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search For a Card</label>
                <md-icon md-svg-icon="search"></md-icon>
                <input ng-model="query" type="text" pattern=".{2,}">
            </md-input-container>
            <div layout="row" layout-align="start start">
                <md-radio-group ng-model="query" layout="row">
                    <md-radio-button name="query" class="md-primary" checked>All</md-radio-button>
                    <md-radio-button name="query" value="Hero / Villain">Hero Cards</md-radio-button>
                    <md-radio-button name="query" value="Action">Action Cards</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div layout="column" layout-padding flex="50">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Order Cards By:</label>
                <md-select name="diceOrder" ng-model="diceOrder" required md-no-asterisk flex>
                    <md-option value="name">Name</md-option>
                    <md-option value="cost">Dice Cost</md-option>
                    <md-option value="energy">Energy Type</md-option>
                    <md-option value="affiliation">Affiliation</md-option>
                    <md-option value="cardtype">Card Type</md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-radio-group ng-model="direction" layout="row">
                    <md-radio-button name="direction" class="md-primary" checked>Ascending</md-radio-button>
                    <md-radio-button name="direction" value="reverse">Descending</md-radio-button>
                </md-radio-group>
                <md-button class="md-warn md-icon" ng-href="#/addcollection">
                    <md-tooltip>Add a Card</md-tooltip>
                    <md-icon md-svg-icon="add" class="icwhite"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-content>

    <!--Dice Card Content-->
    <div layout="row" layout-xs="column">
        <md-content layout="row" layout-wrap layout-align="center center">
            <md-card ng-class="die.currentState" ng-repeat="(key, die) in dice | filter:query | orderBy: diceOrder:direction" layout="column" aria-label="{{ die.name }} Card">
                <md-card-header>
                    <md-card-avatar>
                        <img ng-src="{{ imagePath }}" class="md-card-image" alt="Card Image">
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{ die.name }}</span>
                        <span class="md-subhead italics">{{ die.cardversion }}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title ng-class="getRarity(die)">
                    <md-card-title-text>
                        <span class="md-headline">{{die.cardtype}}</span>
                        <span class="md-subhead">({{ die.affiliation }})</span>
                        <span class="md-subhead">Dice Cost: {{ die.cost }}</span>
                        <span class="md-subhead">Energy Type: {{ die.energy }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="deletebtn md-mini" ng-click="deleteItem($event, die.id)" aria-label="Delete Card">
                        <md-tooltip>Delete Card</md-tooltip>
                        <md-icon md-svg-icon="delete" class="icwhite"></md-icon>
                    </md-button>
                    <md-button href="#/details/{{ dice.indexOf(die) }}" class="showbtn md-mini" aria-label="Link to more details">
                        <md-tooltip>View Card</md-tooltip>
                        <md-icon md-svg-icon="view" class="icwhite"></md-icon>
                    </md-button>
                    <md-button class="showbtn md-mini" ng-click="showAddTo(die)" aria-label="Show Options">
                        <md-tooltip>Add to Deck</md-tooltip>
                        <md-icon md-svg-icon="show" class="icwhite"></md-icon>
                    </md-button>
                </md-card-actions>
                <md-card-content layout="row" ng-show="die.show">
                    <form ng-submit="addToDeck(die, deckSelected)" novalidate>
                        Deck To Add To: <br />
                        <select name="deckName" ng-options="deck.deckname for deck in decks track by deck.deckname" ng-model="deckSelected"></select>
                        <md-button type="submit" ng-click="showAddTo(die)" class="savebtn md-mini" ng-disabled="myForm.$invalid" aria-label="Add Card to Deck">
                            <md-tooltip>Save</md-tooltip>
                            <md-icon md-svg-icon="add" class="icwhite"></md-icon>
                        </md-button>
                    </form>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
    <!-- End Dice Card Content -->
