<md-content>
    <div layout="column" layout-align="start center" flex>
        <h1>Card Details</h1>
        <p>Cycle Through Your collection to See Detailed Descriptions for each Card.</p>
        <div layout="row">
            <md-button href="#/details/{{ prevItem }}" md-no-ink class="md-primary">
                <md-icon md-svg-icon="aleft" class="icwhite" aria-label="Previous Item"></md-icon>
            </md-button>
            <md-button href="#/details/{{ nextItem }}" md-no-ink class="md-primary">
                <md-icon md-svg-icon="aright" class="icwhite" aria-label="Next Item"></md-icon>
            </md-button>
        </div>
    </div>
    <md-content class="md-padding" layout-align="center center" flex>
        <div layout="column" layout-align="center center">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div layout="column" layout-padding>
                            <span class="md-headline">{{dice[whichItem].name}}</span>
                            <span class="md-subhead">({{ dice[whichItem].cardversion }})</span>
                            <span class="md-subhead">{{ dice[whichItem].affiliation }}</span>
                        </div>
                        <div layout="row" layout-padding>
                            <span class="md-subhead">Dice Cost: {{ dice[whichItem].cost }}</span>
                            <span class="md-subhead">Energy Type: {{ dice[whichItem].energy }}</span>
                        </div>
                        <div layout="row" layout-padding>
                            <span class="md-subhead" ng-hide="hideActionVersion(dice[whichItem].cardtype)">Dice Quantity: {{ dice[whichItem].quantity }}</span>
                            <span class="md-subhead">Dice Colour: {{ dice[whichItem].colour }}</span>
                            <span class="md-subhead">Card Series: {{ dice[whichItem].series }}</span>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img ng-src="{{ imagePath }}" alt="Card Image">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-title ng-class="getRarity(dice[whichItem])">
                    <md-card-title-text>
                        <span class="md-headline">{{dice[whichItem].cardtype}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{dice[whichItem].description}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button href="#/collection" class="md-flat md-primary">
                        <md-icon md-svg-icon="back" class="icwhite"></md-icon>Collection
                    </md-button>
                    <md-button href="#/edit/{{ dice.indexOf(dice[whichItem]) }}" class="md-flat md-primary">Edit Card</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</md-content>