<div layout="column" layout-align="center center" layout-padding flex>
    <h2>Dice Masters Decks</h2>
</div>
<div layout="row" layout-align="center start" flex layout-padding>
    <md-list flex layout="row" layout-wrap>
        <div flex="90">
            <md-subheader class="md-no-sticky md-primary">Select a Deck to View</md-subheader>
        </div>
        <md-list-item flex="50" class="md-3-line" ng-repeat="(key, deck) in decks" ng-click="null">
            <md-tooltip>Deck: {{ deck.deckname }}</md-tooltip>
            <a href="#/deckdetails/{{ decks.indexOf(deck) }}">
                <md-icon md-svg-icon="cards" class="md-avatar md-primary"></md-icon>
            </a>
            <div class="md-list-item-text" layout="column">
                <h3 class="listname">{{ deck.deckname }}</h3>
                <p>{{ deck.deckdescription }}</p>
                <div layout="row">
                    <md-button href="#/deckdetails/{{ decks.indexOf(deck) }}" class="md-secondary md-accent md-icon-button" aria-label="Link to more details">
                        <md-tooltip>View Deck</md-tooltip>
                        <md-icon md-svg-icon="view" class="md-accent"></md-icon>
                    </md-button>
                    <md-button class="md-secondary md-warn md-icon-button" ng-click="deleteItem($event, deck.id)" aria-label="Delete Card">
                        <md-tooltip>Delete this Deck</md-tooltip>
                        <md-icon md-svg-icon="delete" class="md-warn"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>
<div layout="row" flex="90" layout-align="end start">
    <md-button class="md-accent md-raised" ng-href="#/adddeck">
        <md-tooltip>Add a New Deck</md-tooltip>
        <md-icon md-svg-icon="add"></md-icon>
    </md-button>
</div>